<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            icon="/haXe-IDE/haxeSymbol.PNG"
            extensions="hx"
            description="haxe lang"
            language="haxe">
      </language>
   </extension>
   <extension
         id="haXe-IDE.parser"
         name="haxe Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="haxe.imp.parser.HaxeParseController"
            language="haxe">
      </parser>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="haxe.imp.tokenColorer.HaxeTokenColorer"
            language="haxe">
      </tokenColorer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.modelTreeBuilder">
      <treeBuilder
            class="haxe.imp.treeModelBuilder.HaxeTreeModelBuilder"
            language="haxe">
      </treeBuilder>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.labelProvider">
      <labelProvider
            class="haxe.imp.treeModelBuilder.HaxeLabelProvider"
            language="haxe">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.foldingUpdater">
      <foldingUpdater
            class="haxe.imp.foldingUpdater.HaxeFoldingUpdater"
            language="haxe">
      </foldingUpdater>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.referenceResolvers">
      <referenceResolver
            class="haxe.imp.referenceResolvers.HaxeReferenceResolver"
            language="haxe">
      </referenceResolver>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.contentProposer">
      <proposer
            class="haxe.imp.contentProposer.HaxeContentProposer"
            language="haxe">
      </proposer>
   </extension>
   <extension
         id="haXe-IDE.hoverHelper"
         name="haxe Hover Helper"
         point="org.eclipse.imp.runtime.hoverHelper">
      <hoverHelper
            class="haxe.imp.hoverHelper.HaxeHoverHelper"
            language="haxe">
      </hoverHelper>
   </extension>
   <extension
         id="haXe-IDE.referenceResolver"
         name="haxe Reference Resolver"
         point="org.eclipse.imp.runtime.referenceResolvers">
      <referenceResolver
            class="haxe.imp.hoverHelper.HelperReferenceResolver"
            language="haXe">
      </referenceResolver>
   </extension>
   <extension
         id="haXe-IDE.documentationProvider"
         name="haxe Documentation Provider"
         point="org.eclipse.imp.runtime.documentationProvider">
      <docProvider
            class="haxe.imp.documentationProvider.HelperDocumentationProvider"
            language="haxe">
      </docProvider>
   </extension>
   <extension
         id="haxe.imp.builder"
         name="Haxe builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="haxe.imp.builders.HaxeBuilder">
            <parameter
                  name="foo"
                  value="bar">
            </parameter>
         </run>
      </builder>
   </extension>
   <extension
         id="imp.nature"
         name="haxe Nature"
         point="org.eclipse.core.resources.natures">
      <builder
            id="haXe_IDE.haxe.imp.builder">
      </builder>
      <runtime>
         <run
               class="haxe.imp.builders.HaxeNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="haxe.imp.builder.problem"
         name="haxe Error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
