<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            icon="/haXe-IDE/haxeSymbol.PNG"
            extensions="hx"
            description="haxe lang"
            language="haxe">
      </language>
   </extension>
   <extension
         id="haXe-IDE.parser"
         name="haxe Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="haxe.imp.parser.HaxeParseController"
            language="haxe">
      </parser>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="haxe.imp.tokenColorer.HaxeTokenColorer"
            language="haxe">
      </tokenColorer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.modelTreeBuilder">
      <treeBuilder
            class="haxe.imp.treeModelBuilder.HaxeTreeModelBuilder"
            language="haxe">
      </treeBuilder>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.labelProvider">
      <labelProvider
            class="haxe.imp.treeModelBuilder.HaxeLabelProvider"
            language="haxe">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.foldingUpdater">
      <foldingUpdater
            class="haxe.imp.foldingUpdater.HaxeFoldingUpdater"
            language="haxe">
      </foldingUpdater>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.referenceResolvers">
      <referenceResolver
            class="haxe.imp.referenceResolvers.HaxeReferenceResolver"
            language="haxe">
      </referenceResolver>
   </extension>

</plugin>
