<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            description="haxe lang"
            extensions="hx"
            icon="/haXe-IDE/haxeSymbol.PNG"
            language="haxe">
      </language>
   </extension>
   <extension
         id="haXe-IDE.parser"
         name="haxe Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="haxe.imp.parser.HaxeParseController"
            language="haxe">
      </parser>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="haxe.imp.tokenColorer.HaxeTokenColorer"
            language="haxe">
      </tokenColorer>
   </extension>

</plugin>
