<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            icon="haxeSymbol.PNG"
            extensions="hx"
            description="haxe lang"
            natureID="haXe_IDE.imp.nature"
            language="haXe">
      </language>
   </extension>
   <extension
         id="haXe-IDE.parser"
         name="haxe Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="haxe.imp.parser.HaxeParseController"
            language="haXe">
      </parser>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="haxe.imp.utilsImplementations.HaxeTokenColorer"
            language="haXe">
      </tokenColorer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.modelTreeBuilder">
      <treeBuilder
            class="haxe.imp.treeModelBuilder.HaxeTreeModelBuilder"
            language="haXe">
      </treeBuilder>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.labelProvider">
      <labelProvider
            class="haxe.imp.treeModelBuilder.HaxeLabelProvider"
            language="haXe">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.foldingUpdater">
      <foldingUpdater
            class="haxe.imp.utilsImplementations.HaxeFoldingUpdater"
            language="haXe">
      </foldingUpdater>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.referenceResolvers">
      <referenceResolver
            class="haxe.imp.utilsImplementations.HaxeReferenceResolver"
            language="haXe">
      </referenceResolver>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.contentProposer">
      <proposer
            class="haxe.imp.utilsImplementations.HaxeContentProposer"
            language="haXe">
      </proposer>
   </extension>
   <extension
         id="haXe-IDE.hoverHelper"
         name="haxe Hover Helper"
         point="org.eclipse.imp.runtime.hoverHelper">
      <hoverHelper
            class="haxe.imp.utilsImplementations.HaxeHoverHelper"
            language="haXe">
      </hoverHelper>
   </extension>
   <extension
         id="haXe-IDE.referenceResolver"
         name="haxe Reference Resolver"
         point="org.eclipse.imp.runtime.referenceResolvers">
      <referenceResolver
            class="haxe.imp.utilsImplementations.HaxeHoverHelper"
            language="haXe">
      </referenceResolver>
   </extension>
   <extension
         id="haXe-IDE.documentationProvider"
         name="haxe Documentation Provider"
         point="org.eclipse.imp.runtime.documentationProvider">
      <docProvider
            class="haxe.imp.utilsImplementations.HelperDocumentationProvider"
            language="haXe">
      </docProvider>
   </extension>
   <extension
         id="imp.builder"
         name="Haxe builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="haxe.imp.builders.HaxeBuilder">
            <parameter
                  name="foo"
                  value="bar">
            </parameter>
         </run>
      </builder>
   </extension>
   <extension
         id="imp.nature"
         name="haxeNature"
         point="org.eclipse.core.resources.natures">
      <builder
            id="haXe_IDE.imp.builder">
      </builder>
      <runtime>
         <run
               class="haxe.imp.builders.HaxeNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="haxe.imp.builder.problem"
         name="haxe Error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="haXe"
            id="haxeplugin.category.wizards">
      </category>
      <wizard
            name="haXe Project"
            icon="icons/haxe_file.gif"
            category="haxeplugin.category.wizards"
            class="wizards.HaxeProjectWizard"
            hasPages="true"
            id="haxeplugin.wizards.newproject">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/PackageExplorer/haxeNature.gif"
            natureId="haXe_IDE.imp.nature"
            id="haXe_IDE.natureImage">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Call Hierarchy"
            icon="haxeSymbol.PNG"
            restorable="true"
            class="workspace.CallHierarchyView"
            id="haXe-IDE.haXeCallHierarchyView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="haXe-IDE.textEditor.EditorContext"
            id="haXe-IDE.textEditorMenu">
         <action
               label="Open Call Hierarchy (haXe)"
               class="workspace.contextMenu.CallHierarchyAction"
               menubarPath="additions"
               id="haXe-IDE.callHierarchyAction">
         </action>
      </viewerContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            nameFilter="*"
            id="haxe.imp.projectContextMenu">
         <action
               label="Enable haxe Builder"
               tooltip="Enable the haxe builder for this project"
               class="workspace.EnableHaxeNature"
               id="haxe.imp.actions.enableNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Haxe"
            class="haxe.imp.preferences.HaxePreferencePage"
            id="haxe.imp.preferences.Haxe">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="workspace.editor.HaxeFilesEditor"
            default="true"
            extensions="hx"
            icon="icons/haxe_file.gif"
            id="haXe-IDE.textEditor"
            name="haXe editor">
      </editor>
   </extension>

</plugin>
