<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            icon="haxeSymbol.PNG"
            extensions="hx"
            description="haxe lang"
            natureID="haXe_IDE.imp.nature"
            language="haXe">
      </language>
   </extension>
   <extension
         id="haXe-IDE.parser"
         name="haxe Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="imp.parser.HaxeParseController"
            language="haXe">
      </parser>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="imp.utils.HaxeTokenColorer"
            language="haXe">
      </tokenColorer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.modelTreeBuilder">
      <treeBuilder
            class="imp.utils.outline.OutlineBuilder"
            language="haXe">
      </treeBuilder>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.labelProvider">
      <labelProvider
            class="imp.utils.outline.OutlineLabelProvider"
            language="haXe">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.foldingUpdater">
      <foldingUpdater
            class="imp.utils.HaxeFoldingUpdater"
            language="haXe">
      </foldingUpdater>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.referenceResolvers">
      <referenceResolver
            class="imp.utils.HaxeReferenceResolver"
            language="haXe">
      </referenceResolver>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.contentProposer">
      <proposer
            class="imp.utils.HaxeContentProposer"
            language="haXe">
      </proposer>
   </extension>
   <extension
         id="haXe-IDE.hoverHelper"
         name="haxe Hover Helper"
         point="org.eclipse.imp.runtime.hoverHelper">
      <hoverHelper
            class="imp.utils.HaxeHoverHelper"
            language="haXe">
      </hoverHelper>
   </extension>
   <extension
         id="haXe-IDE.referenceResolver"
         name="haxe Reference Resolver"
         point="org.eclipse.imp.runtime.referenceResolvers">
      <referenceResolver
            class="imp.utils.HaxeHoverHelper"
            language="haXe">
      </referenceResolver>
   </extension>
   <extension
         id="haXe-IDE.documentationProvider"
         name="haxe Documentation Provider"
         point="org.eclipse.imp.runtime.documentationProvider">
      <docProvider
            class="imp.utils.HelperDocumentationProvider"
            language="haXe">
      </docProvider>
   </extension>
   <extension
         id="imp.builder"
         name="Haxe builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="imp.builders.HaxeBuilder">
            <parameter
                  name="foo"
                  value="bar">
            </parameter>
         </run>
      </builder>
   </extension>
   <extension
         id="imp.nature"
         name="haxeNature"
         point="org.eclipse.core.resources.natures">
      <builder
            id="haXe_IDE.imp.builder">
      </builder>
      <runtime>
         <run
               class="imp.builders.HaxeNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="haxe.imp.builder.problem"
         name="haxe Error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="haXe"
            id="haxeplugin.category.wizards">
      </category>
      <wizard
            name="haXe Project"
            icon="icons/Workspace/base/new_project.png"
            category="haxeplugin.category.wizards"
            class="workspace.wizards.HaxeProjectWizard"
            hasPages="true"
            project="true"
            id="haxeplugin.wizards.newproject">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/Workspace/overlay/nature.gif"
            natureId="haXe_IDE.imp.nature"
            id="haXe_IDE.natureImage">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Call Hierarchy"
            allowMultiple="false"
            icon="haxeSymbol.PNG"
            restorable="true"
            class="workspace.views.CallHierarchyView"
            id="haXe_IDE.view.callHierarchy">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="haXe editor"
            default="true"
            icon="icons/Workspace/base/haxe_file.gif"
            extensions="hx"
            class="workspace.editor.HxFilesEditor"
            id="haXe-IDE.textEditor">
         <contentTypeBinding
               contentTypeId="haXe-IDE.haxeFileContentType">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="hx"
            name="haXe file"
            priority="high"
            describer="workspace.editor.HaxeFileDescriber"
            id="haXe-IDE.haxeFileContentType">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            properties="canRefactor"
            type="org.eclipse.ui.IEditorPart"
            namespace="haXe-IDE.tree.properties"
            class="workspace.contextMenu.VisibilityTester"
            id="haXe-IDE.menuVisibilityTester">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:haXe-IDE.textEditor.EditorContext?before=additions">
         <menu
               label="Refactor">
            <command
                  commandId="haXe-IDE.commands.refactor.rename"
                  label="Rename"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditor">
                  <test
                        property="haXe-IDE.tree.properties.canRefactor">
                  </test>
               </with>
            </visibleWhen>
         </menu>
         <command
               commandId="haXe-IDE.commands.callHierarchy"
               label="Open Call Hierarchy (haXe)"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Rename"
            defaultHandler="workspace.commands.RenameCommand"
            id="haXe-IDE.commands.refactor.rename">
      </command>
      <command
            name="openCallHierarchy"
            defaultHandler="workspace.commands.CallHierarchyCommand"
            id="haXe-IDE.commands.callHierarchy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Haxe"
            class="haxe.imp.preferences.HaxePreferencePage"
            id="imp.preferences.Haxe">
      </page>
   </extension>

</plugin>
