<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample Haxe Editor"
            extensions="hx"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="haxe_editor.editors.HaxeEditor"
            id="haxe_editor.editors.HaxeEditor">
      </editor>
   </extension>

</plugin>
