<configuration scan="true">

  <appender name="FileLogger" class="ch.qos.logback.core.FileAppender">
    <file>D://Logs/haXeIDE.log</file>

    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
    </encoder>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="FileLogger" />
  </root>
</configuration>